.header{
    background-color: black;
    height: 64px;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}
.header ul li{
    float: left;
    list-style-type: none;
}
.message{
margin-right: 20px;

margin-top: 20px;
}
ul li{
    margin-right: 20px;
    margin-top: 20px; 
}