@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
}

